doctype html
html
  head
    title Our Dance Academy 
    style
      include ../static/style.css
  body
    nav#navbar
      ul 
        #logo 
          img(src="/static/img/logo.png", alt="logo", srcset="")
          |ODA
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info ]
        li #[a(href="/") Contact Us]
    section#introSection 
      div Welcome to Our Dance Academy
      div.small Eat Sleep Dance Repeat

    section#missionSection 
      h2 Our Mission
      div.cards 
        div.card 
            h3 Dance perfection.
            .card-box 
                .card-img
                  img(src="/static/img/1.png", alt="", srcset="")
                .card-content 
                  p This is the best dance academy of the universe.
        div.card 
            h3 Dance the way you wants.
            .card-box 
                .card-img
                  img(src="/static/img/2.png", alt="", srcset="")
                .card-content 
                  p This is the best dance academy of the universe.
        div.card 
            h3 Expert teaching.
            .card-box 
                .card-img
                  img(src="/static/img/3.png", alt="", srcset="")
                .card-content 
                  p This is the best dance academy of the universe.

    section#sponsorsSection 
      h2 Our Sponsors
      div#sponsors
        img(src="/static/img/logo1.png", alt="sponsor img", Class= 'spImage')
        img(src="/static/img/logo2.png", alt="sponsor img", Class= 'spImage')
        img(src="/static/img/logo3.png", alt="sponsor img", Class= 'spImage')
        img(src="/static/img/logo4.png", alt="sponsor img", Class= 'spImage')

    footer#footer 
      | Copyright © 2022 OurDanceAcademy.com | All rights are reserved
    script
      include ../static/index.js