@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
h1{
    text-align: center;
    margin: 12px 0;
}

.container h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 34px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid #a07171;
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}